<header class="home-header">
    <div class="header-container">

        <div class="brand-logo">
            <h1 id="brand">MovieHub</h1>
            <p id="brand-tagline">Discover. Track. Enjoy.</p>
        </div>

        <nav class="navbar">
            <ul class="nav-items">
                <li class="nav-item"><a href="index.html">Home</a></li>
                <li class="nav-item"><a href="../includes/favorites.html">Favorites</a></li>
                <li class="nav-item"><a href="../includes/personalized.html">Personalized</a></li>
            </ul>
        </nav>

    </div>
</header>
